/*
Author: W3layouts
Author URL: http://w3layouts.com
 */
 
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body p {
  line-height: 1.5;
  font-size: 14px;
  color: #777;
  font-family: 'Montserrat', sans-serif;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem;
}

.form-control:focus {
  box-shadow: none !important;
}

body a:hover {
  color: #b52b65;
  transition: 0.3s ease;
}

body input {
  border-radius: 4px;
}

body img {
  border-radius: 4px;
}

h3.hny-title {
  font-size: 30px;
  line-height: 40px;
  color: #020004;
  margin-bottom: 24px;
  text-transform: uppercase;
}

h3.hny-title span {
  color: #b52b65;
  font-weight: 700;
}

a.read-more.btn {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: #b52b65;
  font-family: 'Playfair Display', serif;
}

a.read-more.btn:hover {
  color: #621055;
}

img.admin-img {
  width: 18%;
  border: 4px solid #d8dadc;
  margin-right: 4px;
  display: inline-block;
}

img.admin-img-food {
  width: 4%;
  border: 4px solid #d8dadc;
  margin-right: 4px;
  display: inline-block;
}

img.admin-img.admin-img1 {
  width: 12%;
}

.mag-post-thumb-img img {
  border-radius: 50%;
  border: 4px solid #d8dadc;
}

ol.breadcrumb.food {
  background: transparent;
}

h2.hny-food-title {
  font-size: 46px;
}

@media (max-width: 992px) {
  img.admin-img-food {
    width: 8%;
  }

  img.admin-img.admin-img1,
  img.admin-img {
    width: 8%;
  }
}

@media (max-width: 800px) {

  img.admin-img.admin-img1,
  img.admin-img {
    width: 12%;
  }
}

@media (max-width: 767px) {
  img.admin-img-food {
    width: 10%;
  }

  img.admin-img.admin-img1,
  img.admin-img {
    width: 10%;
  }

  h3.hny-title {
    font-size: 26px;
    line-height: 38px;
  }
}

@media (max-width: 480px) {

  img.admin-img.admin-img1,
  img.admin-img {
    width: 10%;
  }
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */


.w3l-mag-main {
  /* Common style */
  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  /* Individual effects */
  /*---------------*/
  /***** Lily *****/
  /*---------------*/
  /*---------------*/
  /*--/side-bar--*/
  /*--//side-bar--*/
  /*--/newsletter--*/
  /*--//newsletter--*/
}

.w3l-mag-main .maghny-grid {
  position: relative;
  list-style: none;
  text-align: center;
}

.w3l-mag-main .maghny-grid figure {
  position: relative;
  /*float: left;*/
  overflow: hidden;
  background: #020004;
  text-align: center;
  cursor: pointer;
  margin-bottom: 18px;
  border-radius: 4px;
}

.w3l-mag-main .maghny-grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  border-radius: 4px;
}

.w3l-mag-main .maghny-grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: capitalize;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.w3l-mag-main .maghny-grid figure figcaption::before,
.w3l-mag-main .maghny-grid figure figcaption::after {
  pointer-events: none;
}

.w3l-mag-main .maghny-grid figure figcaption,
.w3l-mag-main .maghny-grid figure figcaption>a {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

.w3l-mag-main .maghny-grid figure figcaption.w3set-hny {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
}

.w3l-mag-main .maghny-grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.w3l-mag-main .maghny-grid figure h4 {
  transition: transform 0.35s;
  font-size: 18px;
  line-height: 28px;
}

.w3l-mag-main .maghny-grid figure h4.top-text {
  font-size: 20px;
  line-height: 28px;
}

.w3l-mag-main .maghny-grid figure h4 span {
  font-weight: 700;
}

.w3l-mag-main .maghny-grid figure h4,
.w3l-mag-main .maghny-grid figure p {
  margin: 0;
  color: #fff;
}

.w3l-mag-main .maghny-grid figure p {
  font-size: 68.5%;
  color: #fff;
  font-weight: 800;
}

.w3l-mag-main .maghny-grid a.author-name {
  color: #fff;
}

.w3l-mag-main figure.effect-lily img {
  opacity: 0.7;
  transition: opacity 0.35s, transform 0.35s;
  width: 100%;
  border-radius: 4px;
}

.w3l-mag-main figure.effect-lily figcaption {
  text-align: left;
}

.w3l-mag-main figure.effect-lily figcaption>div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em;
  width: 100%;
  height: 50%;
}

.w3l-mag-main figure.effect-lily h4,
.w3l-mag-main figure.effect-lily p {
  transform: translate3d(0, 40px, 0);
}

.w3l-mag-main figure.effect-lily h4 {
  transition: transform 0.35s;
}

.w3l-mag-main figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.2s, transform 0.35s;
}

.w3l-mag-main figure.effect-lily:hover img,
.w3l-mag-main figure.effect-lily:hover p {
  opacity: 1;
}

.w3l-mag-main figure.effect-lily:hover img,
.w3l-mag-main figure.effect-lily:hover h4,
.w3l-mag-main figure.effect-lily:hover p {
  transform: translate3d(0, 0, 0);
}

.w3l-mag-main figure.effect-lily:hover p {
  transition-delay: 0.05s;
  transition-duration: 0.35s;
}

.w3l-mag-main .maghny-grids-inf h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.w3l-mag-main h5.food-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
}

.w3l-mag-main .grid-social-box a {
  display: flex;
  align-items: center;
}

.w3l-mag-main .grid-social-box a:hover {
  opacity: 0.9;
}

.w3l-mag-main span.sub_social_info {
  font-size: 12px;
  text-align: left;
  color: #212529;
  display: block;
  font-weight: 600;
}

.w3l-mag-main .sub-facebook {
  text-align: center;
  display: block;
  height: 48px;
  background: transparent;
  border: 1px solid rgba(59, 62, 66, 0.3);
  border-radius: 4px;
}

.w3l-mag-main .sub-facebook:hover span.fa {
  color: #516eab;
  transition: 0.3s ease;
}

.w3l-mag-main .sub-facebook.twitter:hover span.fa {
  color: #29c5f6;
  transition: 0.3s ease;
}

.w3l-mag-main .sub-facebook.google:hover span.fa {
  color: #e14e42;
  transition: 0.3s ease;
}

.w3l-mag-main .sub-facebook.dribble:hover span.fa {
  color: #ea4c89;
  transition: 0.3s ease;
}

.w3l-mag-main .grid-social-box span.fa {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-right: 1px solid rgba(59, 62, 66, 0.3);
  font-size: 22px;
  color: #621055;
}

.w3l-mag-main span.sub_social_info.sub_social_info_name {
  color: #555;
  font-weight: normal;
}

.w3l-mag-main .mag-post-head {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-mag-main .soc-info {
  display: block;
  padding-left: 20px;
}

.w3l-mag-main .mag-add-post img,
.w3l-mag-main .dont-miss img {
  width: 100%;
}

.w3l-mag-main h6.num-text {
  font-size: 38px;
  margin: 0;
  font-style: italic;
  color: #ffa372;
  font-weight: 700;
  text-align: center;
}

.w3l-mag-main .mag-post-details {
  padding-left: 0;
}

.w3l-mag-main .fas-gallery-grid .content {
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.w3l-mag-main .fas-gallery-grid .content .content-overlay {
  background: rgba(4, 4, 4, 0.58);
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 4px;
}

.w3l-mag-main .fas-gallery-grid .content:hover .content-overlay {
  opacity: 1;
}

.w3l-mag-main .fas-gallery-grid .content-image {
  width: 100%;
}

.w3l-mag-main .fas-gallery-grid .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.w3l-mag-main .fas-gallery-grid .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.w3l-mag-main .fas-gallery-grid .content-title {
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.w3l-mag-main .fas-gallery-grid .content-details p {
  color: #fff;
  font-size: 0.8em;
}

.w3l-mag-main .fas-gallery-grid .fadeIn-bottom {
  top: 80%;
}

.w3l-mag-main .fas-gallery-grid .fadeIn-top {
  top: 20%;
}

.w3l-mag-main .fas-gallery-grid .fadeIn-left {
  left: 20%;
}

.w3l-mag-main .fas-gallery-grid .fadeIn-right {
  left: 80%;
}

.w3l-mag-main .maghny-gd-1.food-grid1 p {
  margin-bottom: 0;
}

.w3l-mag-main .grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.w3l-mag-main .mag-content-right-hny aside {
  padding-left: 24px;
}

.w3l-mag-main h4.mag-side-title {
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
  color: #232222;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.w3l-mag-main h4.mag-side-title span {
  color: #b52b65;
  font-weight: 700;
}

.w3l-mag-main .mag-post-meta {
  margin-top: 6px;
  font-size: 13px;
  font-size: 13px;
}

.w3l-mag-main .mag-post-meta span {
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.w3l-mag-main a.author-name {
  color: #555;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.w3l-mag-main h4.mag-post-title {
  font-size: 17px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 22px;
  color: #621055;
}

.w3l-mag-main h4.mag-post-cate {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 20px;
}

.w3l-mag-main .mag-small-post h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.w3l-mag-main h5.top-title a {
  font-weight: 700;
}

.w3l-mag-main .video-content {
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner1.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  padding: 5em 3em;
  text-align: center;
  border-radius: 4px;
}

.w3l-mag-main .video-content2 {
  background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/banner3.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  padding: 5em 3em;
  text-align: center;
  border-radius: 4px;
}

.w3l-mag-main .video-content h4 a {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 50px;
  text-align: center;
  display: block;
}

.w3l-mag-main a.play-button.btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.w3l-mag-main a.play-button.btn span {
  font-size: 24px;
  color: #ffffff;
  line-height: 58px;
  margin-left: 4px;
}

.w3l-mag-main .video-content .notify-pop-overlay {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.580392);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.w3l-mag-main .video-content .notify-pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.w3l-mag-main .video-content .notify-popup {
  background: #fff;
  border-radius: 0;
  width: 35%;
  position: relative;
  margin: 8em auto;
  padding: 50px 50px;
  text-align: center;
}

.w3l-mag-main .video-content .notify-popup h5 {
  font-size: 20px;
  color: #020004;
  font-weight: 700;
  line-height: 33px;
}

.w3l-mag-main .video-content .notify-popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f3542;
}

.w3l-mag-main .video-content.notify-popup .close:hover {
  color: #232222;
}

.w3l-mag-main .video-content .notify-popup iframe {
  width: 100%;
  min-height: 300px;
}

.w3l-mag-main .post-item-grid.align-items-center.row {
  background: transparent;
  padding: 13px 13px;
  margin: 0;
  border: 1px solid rgba(10, 0, 9, 0.07);
  border-radius: 4px;
}

.w3l-mag-main .post-item-grid.align-items-center.row:hover {
  background: #fbf8f9;
  transition: 0.3s ease;
}

.w3l-mag-main .post-item-grid.align-items-center.row:hover a {
  color: #b52b65;
}

.w3l-mag-main .mag-hny-content img {
  border-radius: 4px;
}

.w3l-mag-main .newsletter-infhny {
  position: relative;
  box-shadow: 0 0 1px rgba(20, 21, 22, 0.48);
  border-radius: 4px;
  background: rgba(35, 50, 102, 0.05) url(../images/strip.png) no-repeat;
}

.w3l-mag-main .newsletter-infhny h2 {
  color: #ed6663;
  font-size: 28px;
  font-weight: 700;
}

.w3l-mag-main .newsletter-infhny p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.w3l-mag-main .newsletter-infhny {
  margin: 0 auto;
  text-align: center;
}

.w3l-mag-main form.newsletter-form {
  margin: 0 auto;
  width: 50%;
}

.w3l-mag-main .newsletter-infhny input {
  background: transparent;
  border: 2px solid #ffa372;
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 0px 20px;
  color: #555;
  height: 60px;
  text-align: left;
  -webkit-appearance: none;
}

.w3l-mag-main .newsletter-infhny input:focus {
  background: rgba(255, 163, 114, 0.109);
}

.w3l-mag-main .newsletter-form .btn {
  background: #ffa372;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-decoration: none;
  padding: 0px 20px;
  text-align: center;
  font-size: 16px;
  width: 30%;
  height: 46px;
  -webkit-appearance: none;
  font-weight: 700;
  border-radius: 4px;
}

.w3l-mag-main .newsletter-form .btn:hover {
  background: #621055;
}

.w3l-mag-main a.page-link.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #020004;
  font-family: 'Playfair Display', serif;
  border: transparent;
  border-radius: 0;
  background: #969595;
}

.w3l-mag-main a.page-link.btn.active {
  background: #ffa372;
  border: transparent;
}

.w3l-mag-main a.load-more.btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #020004;
  font-family: 'Playfair Display', serif;
  background: #ffa372;
  border: 2px solid transparent;
  border-radius: 0;
}

.w3l-mag-main a.load-more.btn:hover {
  background: transparent;
  border: 2px solid #ffa372;
}

@media (max-width: 1080px) {

  .w3l-mag-main .mag-post-meta span,
  .w3l-mag-main a.author-name,
  .w3l-mag-main .mag-post-meta {
    font-size: 10px;
  }

  .w3l-mag-main .maghny-grid figure h4 {
    font-size: 16px;
    line-height: 22px;
  }

  .w3l-mag-main .maghny-grid figure figcaption {
    padding: 2em 1em;
  }

  .w3l-mag-main h4.mag-side-title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .w3l-mag-main .video-content .notify-popup {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .w3l-mag-main h5.food-title {
    font-size: 24px;
    line-height: 34px;
  }

  .w3l-mag-main .mag-content-right-hny aside {
    padding-left: 0;
  }

  .w3l-mag-main .mag-content-right-hny {
    margin-top: 3em;
  }

  .w3l-mag-main .maghny-gd-1 {
    margin-bottom: 2em;
  }

  .w3l-mag-main .maghny-gd-1 p {
    margin-bottom: 0;
  }

  .w3l-mag-main .maghny-grids-inf h5 {
    font-size: 17px;
    line-height: 20px;
  }

  .w3l-mag-main .fashion-gd-1 {
    float: left;
    width: 50%;
    margin-bottom: 25px;
  }

  .w3l-mag-main h4.mag-side-title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .w3l-mag-main form.newsletter-form {
    margin: 36px auto 0;
    width: 60%;
  }

  .w3l-mag-main .newsletter-form .btn {
    width: 50%;
  }

  .w3l-mag-main .sub-one-left {
    margin-bottom: 2em;
  }

  .w3l-mag-main .grid-social-box {
    margin-bottom: 10px;
  }

  .w3l-mag-main .mag-add-post img {
    width: 35%;
  }

  .w3l-mag-main .mag-small-post.dont-miss-grids-inf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .w3l-mag-main .grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 800px) {

  .w3l-mag-main .mag-post-meta span,
  .w3l-mag-main a.author-name,
  .w3l-mag-main .mag-post-meta {
    font-size: 12px;
  }

  .w3l-mag-main .video-content .notify-popup {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .w3l-mag-main .item-pic {
    float: left;
    width: 30%;
  }

  .w3l-mag-main .item-details {
    float: right;
    width: 70%;
  }

  .w3l-mag-main .mag-add-post img {
    width: 50%;
  }
}

@media (max-width: 667px) {
  .w3l-mag-main h5.food-title {
    font-size: 22px;
    line-height: 32px;
  }

  .w3l-mag-main .load-more {
    padding-bottom: 2em;
  }

  .w3l-mag-main .fashion-gd-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .w3l-mag-main form.newsletter-form {
    width: 100%;
  }

  .w3l-mag-main .newsletter-form .btn {
    width: 100%;
  }

  .w3l-mag-main .video-content .notify-popup {
    width: 70%;
  }

  .w3l-mag-main .mag-small-post.dont-miss-grids-inf {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 600px) {
  .w3l-mag-main .maghny-grids-inf h5 {
    font-size: 20px;
    line-height: 26px;
  }

  .w3l-mag-main .video-content .notify-popup {
    width: 90%;
    padding: 30px;
  }

  .w3l-mag-main .video-content .notify-popup iframe {
    width: 100%;
    min-height: 170px;
  }

  .w3l-mag-main .newsletter-infhny h2 {
    font-size: 22px;
  }

  .w3l-mag-main .mag-add-post img {
    width: 100%;
  }

  .w3l-mag-main .grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 569px) {
  .w3l-mag-main .grid-social-box {
    margin-bottom: 10px;
    float: left;
    width: 50%;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link+.card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group>.card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-bottom,
  .card-group>.card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-top,
  .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-bottom,
  .card-group>.card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.accordion>.card {
  overflow: hidden;
}

.accordion>.card:not(:last-of-type) {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion>.card:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion>.card>.card-header {
  border-radius: 0;
  margin-bottom: -1px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .badge {
    transition: none;
  }
}

a.badge:hover,
a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #fff;
  background-color: #0062cc;
}

a.badge-primary:focus,
a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
  color: #fff;
  background-color: #545b62;
}

a.badge-secondary:focus,
a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

a.badge-success:hover,
a.badge-success:focus {
  color: #fff;
  background-color: #1e7e34;
}

a.badge-success:focus,
a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

a.badge-info:hover,
a.badge-info:focus {
  color: #fff;
  background-color: #117a8b;
}

a.badge-info:focus,
a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}